<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="title">
    <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.ist"/>
</f:section>

<f:section name="content">

    <div class="be-bibsonomy-csl-actions">
        <f:link.action action="new">
            <core:icon size="small" identifier="actions-add" alternativeMarkupIdentifier="inline"/>
            <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.new"/>
        </f:link.action>

        <f:link.action action="newOAuth">
            <core:icon size="small" identifier="actions-document-add" alternativeMarkupIdentifier="inline"/>
            <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.newOAuth"/>
        </f:link.action>
    </div>

    <h1>
        <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.list"/>
    </h1>

    <table class="be-bibsonomy-table">
        <tr>
            <th>
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.userName"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.hostAddress"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.oAuthEnabled"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.actions"/>
            </th>
        </tr>
        <f:for each="{authentications}" as="authentication">
            <tr>
                <td>
                    {authentication.hostUserName}
                </td>
                <td>
                    {authentication.hostAddress}
                </td>
                <td>
                    <f:if condition="{authentication.enableOAuth} == '1'">
                        <core:icon size="small" identifier="actions-check" alternativeMarkupIdentifier="inline"/>
                    </f:if>
                </td>
                <td>
                    <f:link.action action="edit" arguments="{authentication : authentication}">
                        <core:icon size="small" identifier="actions-open" alternativeMarkupIdentifier="inline"/>
                        <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.button.edit"/>
                    </f:link.action>
                    <f:link.action action="delete" arguments="{authentication : authentication}">
                        <core:icon size="small" identifier="actions-delete" alternativeMarkupIdentifier="inline"/>
                        <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.button.delete"/>
                    </f:link.action>
                </td>
            </tr>
        </f:for>
    </table>
</f:section>
</html>
