<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="content">

    <div class="be-bibsonomy-csl-actions">
        <f:link.action action="list">
            <core:icon size="small" identifier="actions-arrow-left" alternativeMarkupIdentifier="inline"/>
            <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.back"/>
        </f:link.action>
    </div>

    <h1>
        <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.new"/>
    </h1>

    <f:render partial="FormErrors" />

    <f:form action="create" name="newAuthentication" object="{newAuthentication}">
        <f:render partial="Authentication/FormFields" arguments="{type:'basic', hosts:hosts}"/>
        <f:form.submit value="{f:translate(key: 'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.button.save')}" />
    </f:form>
</f:section>
</html>
