<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Css/backend.css', extensionName: 'backend')}"/>
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Styles/bibsonomycsl-backend.css')}"/>

	<div class="be-bibsonomy-csl">
		<div class="be-bibsonomy-csl-header">
			<f:be.menus.actionMenu>
				<f:be.menus.actionMenuItem label="{f:translate(key: 'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.menu.overview')}"
										   controller="Backend"
										   action="index"/>

				<f:be.menus.actionMenuItem label="{f:translate(key: 'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.menu.stylesheets')}"
										   controller="CitationStylesheet"
										   action="list"/>

				<f:be.menus.actionMenuItem label="{f:translate(key: 'LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.menu.authentication')}"
										   controller="Authentication"
										   action="list"/>
			</f:be.menus.actionMenu>
		</div>

        <f:flashMessages />

		<f:render section="content"/>
	</div>
</html>