<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<div class="tx-bibsonomy-csl">
		<f:flashMessages />

		<f:render section="content"/>
	</div>

</html>