<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bibsonomy="http://typo3.org/ns/AcademicPuma/ExtBibsonomyCsl/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <script src="{f:uri.resource(path: 'Scripts/bibsonomycsl-script.js')}"></script>
    <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bibsonomycsl-style.css')}"/>

    <bibsonomy:CSS css="{custom.css}"/>

    <f:if condition="{settings.debug}">
        <div class="bibsonomycsl-debug" style="display: none;">
            <bibsonomy:Debug language="{layout.language}" stylesheet="{stylesheet}" />
        </div>
    </f:if>

    <div class="bibsonomy-container" id="bibsonomy-container-{listHash}">
        <f:if condition="{grouping.key} != 'none'">
            <f:if condition="{grouping.anchors}">
                <ul class="bibsonomy-anchors bibsonomy-inline-list">
                    <f:for each="{posts}" as="groups" key="group">
                        <bibsonomy:Anchor group="{group}" groupingKey="{grouping.key}" entrytypes="{entrytypes}"/>
                    </f:for>
                </ul>
            </f:if>
        </f:if>

        <f:if condition="{layout.inlineFilter}">
            <div class="bibsonomy-inline-filter">
                <input id="bibsonomyInlineFilter" type="text" placeholder="{f:translate(key:'post.filter.placeholder')}" oninput="filterPosts()"/>
                <a href="#" onclick="resetFilterPosts()">
                    <f:translate key="post.filter.reset"/>
                </a>
            </div>
        </f:if>

        <f:for each="{posts}" as="groups" key="group">
            <f:if condition="{grouping.key} != 'none'">
                <bibsonomy:Header group="{group}" listHash="{listHash}" groupingKey="{grouping.key}" entrytypes="{entrytypes}"/>
            </f:if>

            <ul class="bibsonomy-posts">
                <f:for each="{groups}" as="post">
                    <f:variable name="intrahash" value="{post.resource.intrahash}"/>
                    <li class="bibsonomy-post" id="bibsonomy-post-{intrahash}">
                        <f:if condition="{layout.thumbnail} == '1'">
                            <div class="bibsonomy-thumbnail {f:if(condition: '{post.documents -> f:count()} > 0', then: 'bibsonomy-zoom')}">
                                <bibsonomy:Thumbnail post="{post}" enableLink="{layout.linkDocument}"/>
                            </div>
                        </f:if>

                        <div class="bibsonomy-citation {f:if(condition: '{layout.thumbnail} != 0', then: 'bibsonomy-citation-thumbnail')}">
                            <bibsonomy:Citation post="{post}" language="{layout.language}" stylesheet="{stylesheet}"/>

                            <div class="bibsonomy-extra">
                                <f:if condition="{layout.notes}">
                                    <bibsonomy:Notes post="{post}"/>
                                </f:if>
                            </div>
                        </div>

                        <div class="clearfix"><!-- keep me --></div>

                        <div class="bibsonomy-links">
                            <!-- Get the raw post for an accurate export of snippets -->
                            <f:variable name="rawPost" value="{rawPosts.{intrahash}}"/>

                            <ul class="bibsonomy-links-list bibsonomy-inline-list">
                                <f:if condition="{layout.linkAbstract} == '1'">
                                    <bibsonomy:Snippet post="{post}" type="abstract" mode="link"/>
                                </f:if>

                                <f:if condition="{layout.linkBibtex} == '1'">
                                    <bibsonomy:Snippet post="{rawPost}" type="bibtex" mode="link"/>
                                </f:if>

                                <f:if condition="{layout.linkCsl} == '1'">
                                    <bibsonomy:Snippet post="{post}" type="csl" mode="link"/>
                                </f:if>

                                <f:if condition="{layout.linkEndnote} == '1'">
                                    <bibsonomy:Snippet post="{post}" type="endnote" mode="link"/>
                                </f:if>

                                <f:if condition="{custom.authorsMode} == 'link'">
                                    <bibsonomy:Authors post="{post}" authorLinks="{authorLinks}" mode="link"/>
                                </f:if>

                                <f:if condition="{layout.linkUrl} == '1'">
                                    <bibsonomy:Link post="{post}" type="url"/>
                                </f:if>

                                <f:if condition="{layout.linkDoi} == '1'">
                                    <bibsonomy:Link post="{post}" type="doi"/>
                                </f:if>

                                <f:if condition="{layout.linkDocument} == '1'">
                                    <bibsonomy:Link post="{post}" type="download"/>
                                </f:if>

                                <f:if condition="{layout.linkMisc}">
                                    <bibsonomy:MiscLink post="{post}" misc="{layout.linkMisc}"/>
                                </f:if>

                                <f:if condition="{layout.linkDetails}">
                                    <bibsonomy:Link post="{post}" type="details"/>
                                </f:if>

                                <f:if condition="{layout.linkHost} == '1'">
                                    <bibsonomy:Link post="{post}" type="host"/>
                                </f:if>
                            </ul>
                        </div>

                        <div class="clearfix"><!-- keep me --></div>

                        <div class="bibsonomy-snippets">
                            <f:if condition="{layout.linkAbstract} == '1'">
                                <bibsonomy:Snippet post="{post}" type="abstract" mode="snippet"/>
                            </f:if>

                            <f:if condition="{layout.linkBibtex} == '1'">
                                <bibsonomy:Snippet post="{rawPost}" type="bibtex" mode="snippet"
                                                   encode="{layout.bibtexHtmlEncode}" escape="{layout.bibtexEscape}"/>
                            </f:if>

                            <f:if condition="{layout.linkCsl} == '1'">
                                <bibsonomy:Snippet post="{post}" type="csl" mode="snippet"/>
                            </f:if>

                            <f:if condition="{layout.linkEndnote} == '1'">
                                <bibsonomy:Snippet post="{post}" type="endnote" mode="snippet"/>
                            </f:if>

                            <f:if condition="{custom.authorsMode} == 'link'">
                                <bibsonomy:Authors post="{post}" authorLinks="{authorLinks}" mode="snippet"/>
                            </f:if>
                        </div>
                    </li>
                </f:for>
            </ul>
        </f:for>
    </div>
</f:section>
</html>
