<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bibsonomy="http://typo3.org/ns/AcademicPuma/ExtBibsonomyCsl/ViewHelpers"
      xmlns:bibsonomyDetails="http://typo3.org/ns/AcademicPuma/ExtBibsonomyCsl/ViewHelpers/Details"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <script src="{f:uri.resource(path: 'Scripts/bibsonomycsl-script.js')}"></script>
    <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bibsonomycsl-style.css')}"/>

    <f:if condition="{settings.debug}">
        <div class="bibsonomycsl-debug"><!-- TODO --></div>
    </f:if>

    <h2>{post.resource.title}</h2>
</f:section>
</html>
