<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="be-bibsonomy-formfields">
    <div class="be-bibsonomy-formfield">
        <label for="title">
            <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.name"/>
            <i class="required">
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.form.required"/>
            </i>
        </label>
        <f:form.textfield name="title" property="title"/>
    </div>

    <f:if condition="{type} == 'new'">
        <div class="be-bibsonomy-formfield">
            <label for="xmlSource">
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.xmlSource"/>
                <i class="required">
                    <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.form.required"/>
                </i>
            </label>
            <f:form.textarea name="xmlSource" property="xmlSource" rows="15" cols="60" placeholder="XML"/>
        </div>
    </f:if>

    <f:if condition="{type} == 'edit'">
        <div class="be-bibsonomy-formfield">
            <label for="xmlSource">
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.xmlSource"/>
                <i class="required">
                    <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.form.required"/>
                </i>
            </label>
            <f:form.textarea name="xmlSource" property="xmlSource" rows="15" cols="60" placeholder="XML"/>
        </div>
    </f:if>

    <f:if condition="{type} == 'upload'">
        <div class="be-bibsonomy-formfield">
            <label for="file">
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.upload"/>
                <i class="required">
                    <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.form.required"/>
                </i>
            </label>
            <f:form.upload name="file"/>
        </div>
    </f:if>

    <f:if condition="{type} == 'import'">
        <div class="be-bibsonomy-formfield">
            <label for="import">
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.import"/>
                <i class="required">
                    <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.form.required"/>
                </i>
            </label>
            <f:form.textfield name="import"/>
        </div>
    </f:if>
</div>

</html>