<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bibsonomy="http://typo3.org/ns/AcademicPuma/ExtBibsonomyCsl/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/bibsonomycsl-style.css')}"/>

    <f:if condition="{settings.debug}">
        <div class="bibsonomycsl-debug"><!-- TODO --></div>
    </f:if>

    <ul class="bibsonomy-tagcloud bibsonomy-inline-list">
        <bibsonomy:TagCloud tags="{tags}" maxcount="{maxcount}"/>
    </ul>

</f:section>
</html>
