<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="be-bibsonomy-formfields">
    <div class="be-bibsonomy-formfield">
        <label for="hostAddress">
            <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.hostAddress"/>
            <span class="required">(required)</span>
        </label>
        <f:form.select name="hostAddress" property="hostAddress" options="{hosts}" optionValueField="key" optionLabelField="value"/>
    </div>

    <div class="be-bibsonomy-formfield">
        <label for="hostUserName">
            <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.userName"/>
            <span class="required">(required)</span>
        </label>
        <f:form.textfield name="hostUserName" property="hostUserName"/>
    </div>

    <f:if condition="{type} == 'basic'">
        <div class="be-bibsonomy-formfield">
            <label for="hostApiKey">
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.apiKey"/>
                <span class="required">(required)</span>
            </label>
            <f:form.textfield name="hostApiKey" property="hostApiKey"/>
        </div>
    </f:if>

    <f:if condition="{type} == 'oauth'">
        <div class="be-bibsonomy-formfield">
            <label for="accessToken">
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication.accessToken"/>
                <span class="required">(required)</span>
            </label>
            <f:form.textfield name="accessToken" property="serializedAccessToken"/>
        </div>
    </f:if>

    <div class="be-bibsonomy-formfield">
        <f:variable name="enableOAuth">0</f:variable>
        <f:if condition="{type} == 'oauth'">
            <f:variable name="enableOAuth">1</f:variable>
        </f:if>
        <f:form.hidden name="enableOAuth" property="enableOAuth" value="{enableOAuth}"/>
    </div>
</div>

</html>