.be-bibsonomy-csl {
    padding: 30px;
}

.be-bibsonomy-csl-header {
    font-size: 1.25em;
    margin-bottom: 30px;
}

.be-bibsonomy-csl-actions {
    margin: 30px 0;
}

.be-bibsonomy-csl-actions a {
    font-size: 1.25em;
    margin-right: 20px;
    padding: 10px;
    background: #eeeeee;
    border-radius: 5px;
}

.be-bibsonomy-csl-actions a:hover {
    text-decoration: none;
}

.be-bibsonomy-table {
    width: 100%;
    margin: 30px 0;
}

.be-bibsonomy-table th {
    text-align:left;
}

.be-bibsonomy-table td {
    padding: 20px 0;
}

.be-bibsonomy-table a {
    margin-right: 30px;
    padding: 10px;
    background: #eeeeee;
    border-radius: 5px;
}

.be-bibsonomy-table a:hover {
    text-decoration: none;
}

.be-bibsonomy-formfields label {
    display: block;
    font-size: 1.25em;
}

.be-bibsonomy-formfield {
    padding: 10px 0;
}

.alert-message {
    font-size: 1em;
}