<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bibsonomy="http://typo3.org/ns/AcademicPuma/ExtBibsonomyCsl/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Backend" />

<f:section name="content">

    <div class="be-bibsonomy-csl-actions">
        <f:link.action action="new">
            <core:icon size="small" identifier="actions-add" alternativeMarkupIdentifier="inline"/>
            <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.new"/>
        </f:link.action>

        <f:link.action action="upload">
            <core:icon size="small" identifier="actions-upload" alternativeMarkupIdentifier="inline"/>
            <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.upload"/>
        </f:link.action>

        <f:link.action action="import">
            <core:icon size="small" identifier="actions-document-add" alternativeMarkupIdentifier="inline"/>
            <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.import"/>
        </f:link.action>
    </div>

    <h1>
        <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.list"/>
    </h1>

    <table class="be-bibsonomy-table">
        <tr>
            <th>
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.name"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet.example"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.actions"/>
            </th>
        </tr>
        <f:for each="{citationStylesheets}" as="citationStylesheet">
            <tr>
                <td>
                    {citationStylesheet.title}
                </td>
                <td>
                    <bibsonomy:Citation post="{post}" language="en-US" stylesheet="{citationStylesheet.xmlSource}" checkStylesheet="1"/>
                </td>
                <td>
                    <f:link.action action="edit" arguments="{citationStylesheet : citationStylesheet}">
                        <core:icon size="small" identifier="actions-open" alternativeMarkupIdentifier="inline"/>
                        <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.button.edit"/>
                    </f:link.action>
                    <f:link.action action="delete" arguments="{citationStylesheet : citationStylesheet}">
                        <core:icon size="small" identifier="actions-delete" alternativeMarkupIdentifier="inline"/>
                        <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.button.delete"/>
                    </f:link.action>
                </td>
            </tr>
        </f:for>
    </table>
</f:section>
</html>
