<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="content">
    <h1>
        <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.overview"/>
    </h1>

    <p>
        <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.overview.description"/>
    </p>

    <table style="border: none">
        <tr>
            <td style="padding-right: 3em; min-width: 30%;">
                <h4>
                    <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.citationstylesheet"/>
                </h4>
                <ul style="list-style: none; padding:0; margin:0">
                    <li>
                        <a href="{f:uri.action(controller:'CitationStylesheet', action:'list')}">
                            <core:icon size="small" identifier="actions-system-list-open" alternativeMarkupIdentifier="inline"/>
                            <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.overview.citationstylesheet"/>
                        </a>
                    </li>
                </ul>
            </td>

            <td style="width: 65%;">
                <h4>
                    <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.authentication"/>
                </h4>
                <ul style="list-style: none; padding:0; margin:0">
                    <li>
                        <a href="{f:uri.action(controller:'Authentication', action:'list')}">
                            <core:icon size="small" identifier="status-user-admin" alternativeMarkupIdentifier="inline"/>
                            <f:translate key="LLL:EXT:ext_bibsonomy_csl/Resources/Private/Language/locallang_db.xlf:module.overview.authentication"/>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</f:section>
</html>
